<!DOCTYPE html>
<html>

<head>
  <title>Moogle</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<script>
  
</script>
<body>

  <nav class="header">
    <div class="col-xs-8">
      <ul>
        <li><a href="#"><i class="fa fa-2x fa-user-circle-o" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-2x fa-bell" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-2x fa-bars" aria-hidden="true"></i></a></li>
        <li><a href="#">Images</a></li>
        <li><a href="#">Mail</a></li>
      </ul>
    </div>
  </nav>
  <div class="google-logo">
    <img src="./images/google-logo.jpg" height="85px" width="250px" alt="google-logo" title="google-logo">
  </div>
  <div>
    
    

    <form class="example" action="/moogle">
      <input type="text"  name="search" id="searchbar" placeholder="Search Google or Type URL">
      <button type="submit" id="search_button">Search</button>
    </form>

  </div>
  <input type="button" value="I'm Feeling Lucky" id="lucky_button">
  </br>
  <div class="footer">
 
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</html>